<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">

                <form [formGroup]="createForm" (ngSubmit)="createLocation()" class="col-md-6">
                    <h2>Create location</h2>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input [class.is-invalid]='createForm.get("name").errors 
                                                 && createForm.get("name").touched' formControlName="name" type="text"
                            class="form-control">
                        <!-- <div *ngIf="createForm.errors?.required" class="invalid-feedback">Please enter Name</div> -->
                        <!-- <div *ngIf="createForm.errors?.minlength" class="invalid-feedback">
                            Name must be at least {{createForm.errors.minlength['requiredLength']}}
                        </div>
                        <div *ngIf="createForm.errors?.maxlength" class="invalid-feedback">
                            Name must be at most {{createForm.errors.maxlength['requiredLength']}}
                        </div> -->

                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input formControlName="address" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="longitude">Longitude:</label>
                        <input formControlName="longitude" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="latitude">Latitude:</label>
                        <input formControlName="latitude" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="pwd">City:</label>
                        <select formControlName="cityid" class="form-control">
                            <option *ngFor="let city of allCities" value="{{city.id}}">{{city.name}}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>